h2 {
    color: rgb(255,0,0);
    /*The only h2 in my html is the date so the date will be red */
}
.note {
    font-weight: bolder;
    margin: auto;
    color: #ff0000
}

.name{
    color: hsl(192, 72%, 22%);
}

ul, ol {
  list-style-position: inside;
  text-align: center;
  padding-left: 0;   /* removes default left indent */
}

/*aligned*/
* {
  margin: 100;
  padding: 100;
  text-align: center;
  box-sizing: border-box;
}
 /*Links */
a[href^="#"] {
  color: teal;
}
a:hover {
  color: orange;
}

video, audio {
  display: block;
  margin: 10px auto;
}
