h2 {
    color: rgb(255,0,0);
    /*The only h2 in my html is the date so the date will be red */
}
.note {
    font-weight: bolder;
    margin: auto;
    color: #ff0000
}

.name{
    color: hsl(192, 72%, 22%);
}